{% extends "index.html" %}


{% block content %}
<div >
    <h1>Akshay Varshney</h1>
    <h3> I am working as a Software Engineer at Adobe Systems. I like to write code in Python, C++</h3>
    <p>Currently I am learning new technologies to become better from yesterday. I want to become a Software Developer. My hobbies are not much but I like to listen music, watch movies.
    </p>
    <p></p>
    <div class="w3-container" id="top-link">
        <h2>Tools, Programming languages and Skills:</h2>

        
      <ul class="w3-ul w3-margin-top" id="myUL">
        <li>Python 
            <a target="_blank" >
                <img class="title-lo" src="/static/images/python.png">
            </a>
        </li>
        <li>C++ 
            <a target="_blank" >
                <img class="title-lo" src="/static/images/c++.png">
            </a>
        </li>
        <li>HTML
            <a target="_blank" >
                <img class="title-lo" src="/static/images/html.png">
            </a>
        </li>
        <li>CSS
            <a target="_blank" >
                <img class="title-lo" src="/static/images/css.png">
            </a>
        </li>
        <li>MYSQL
            <a target="_blank" >
                <img class="title-lo" src="/static/images/mysql.png">
            </a>
        </li>
        <li>Deep Learning
            <a target="_blank" >
                <img class="title-lo" src="/static/images/dl.png">
            </a>
        </li>
        <li>Computer Vision
            <a target="_blank" >
                <img class="title-lo" src="/static/images/cv.png">
            </a>
        </li>
        <li>Git
            <a target="_blank" >
                <img class="title-lo" src="/static/images/git.png">
            </a>
        </li>
        <li>Software Automation
            <a target="_blank" >
                <img class="title-lo" src="/static/images/sa.png">
            </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %} 