{% extends "index.html" %}

{% block content %}
<center>
    <div class="w3-card-4 w3-hover-shadow w3-animate-top" style="width:50%;" id="current-job">
        <header class="w3-container">
            <h2>FireNet A Specialized Lightweight Fire and Smoke Detection Model for Real Time IoT Applications</h2>
            <h4 style="text-align: left; color: #bb2c2c;;">Details:</h4>
            <p>

                Objective was to differentiate the fire and smoke. <br /> <br />
                <a href="https://arxiv.org/abs/1905.11922" style="color: blue;">Research Paper</a>
            </p>
        </header>


        <footer class="w3-container w3-blue">

            <a id="jobDetails" class="w3-button w3-blue w3-hover-text-black" href="https://urlzs.com/r4BC">Sample Output of this unit</a>

        </footer>
    </div>
    <br/>
    <br/>
    <div class="w3-card-4 w3-hover-shadow w3-animate-top" style="width:50%;" id="current-job">
        <header class="w3-container">
            <h2>Low-Complexity High-Performance Deep Learning Model for Real- Time Low-Cost Embedded Fire Detection
                Systems</h2>
            <h4 style="text-align: left; color: #bb2c2c;;">Details:</h4>
            <p>

                A CNN based network was trained on the fire and no fire images dataset, in addition to this network was
                fine-tuned using deep learning frameworks like keras and tensorflow. <br /> <br />
            </p>
        </header>


        <footer class="w3-container w3-blue">

            <a id="jobDetails" class="w3-button w3-blue w3-hover-text-black" href="https://www.sciencedirect.com/science/article/pii/S1877050920310103">Research Paper</a>

        </footer>
    </div>
    <br/>
    <br/>
    
  
    <div class="w3-card-4 w3-hover-shadow w3-animate-top" style="width:50%;" id="current-job">
        <header class="w3-container">
            <h2>Simple and Efficient Non-Contact Technique for Resistor Value Estimation</h2>
            <h4 style="text-align: left; color: #bb2c2c;;">Details:</h4>
            <p>

                Objective was to develop an Image Processing algorithm to measure resistor′s value in real time. <br /> <br />
            </p>
        </header>


        <footer class="w3-container w3-blue">

            <a id="jobDetails" class="w3-button w3-blue w3-hover-text-black" href="https://ieeexplore.ieee.org/abstract/document/8524266">Research Paper</a>

        </footer>
    </div>
    <br/>
    <br/>
    <div class="w3-card-4 w3-hover-shadow w3-animate-top" style="width:50%;" id="current-job">
        <header class="w3-container">
            <h2>Knee Region Labellings</h2>
            <h4 style="text-align: left; color: #bb2c2c;;">Details:</h4>
            <p>

                Worked on Image Segmentation Algorithm. <br /> <br />
            </p>
        </header>


        <footer class="w3-container w3-blue">

            <a id="jobDetails" class="w3-button w3-blue w3-hover-text-black" href="https://ieeexplore.ieee.org/abstract/document/8524266">Click to see Research Article </a>
        </footer>
    </div>
    </center>

    <div class="container">
        <div class="row">
            <div class="col s12 m4 l8">
                <span class="date">Other Flask Projects</span>
                <ul class="list">
                    <li>
                        <div class="icon-title">
                           
                            <a href="https://github.com/akshay-varshney/FeedbackForm"  style="color: chocolate;" class="title">Programming Feedback Form using Flask </a>
                        </div>
                        
                    </li>
                </ul>
                <ul class="list">
                    <li>
                        <div class="icon-title">
                           
                            <a href="https://github.com/akshay-varshney/weatherincity_flask" style="color: chocolate;" class="title">Weather in your City Flask Application</a>
                        </div>
                        
                    </li>
                </ul>
                <ul class="list">
                    <li>
                        <div class="icon-title">
                           
                            <a href="https://github.com/akshay-varshney/FeedbackForm" style="color: chocolate;" class="title">Flask Application</a>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}